name: flutter_themed
description: "Theme switching for Flutter apps. Supports light, dark, and custom themes with optional persistence."
version: 1.0.0+3
repository: https://github.com/RaulCatalinas/Flutter-Theme-Manager

environment:
  sdk: ^3.5.0
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
